body,
html {
  background: #1f1a14;
  width: 100%;
  height: 100%;
  letter-spacing: 1.2px;
}

h1 {
  font-family: 'Monoton', cursive;
  color: #fff;
  text-align: center;
  font-size: 50px;
  padding-top: 100px;
}

h2, h3, p {
  font-family: 'Work Sans', sans-serif;
}

#mainH3 {
  text-align: center;
  color: #c8d7e7;
}

.about {
  font-size: 14px;
  color: #fff;
  border: solid 2px #c8d7e7;
  width: 300px;
  padding: 10px;
  position: absolute;
  bottom: 177px;
  left: 30px;
}


h3 img {
    max-height: 50px;
}

.parallax1 {
  opacity: .85;
  background: url(../img/bus_front.jpg)no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  margin-top: -35px;
}

.parallax2 {
  opacity: .85;
  background: url(../img/back.jpg)no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
}

.list {
  font-size: 20px;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.content {
  width: 100%;
  height: auto;
  overflow: hidden;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}

.content h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  /*color: #000;*/
  color: #c8d7e7;
  text-align: Center;
}

.content p {
  margin-top: 10px;
}

#arrow {
  max-width: 10em;
  position:absolute;
  bottom:0px;
  animation-iteration-count: 3;
  -webkit-animation: bounce 3s ease-in-out;
  -webkit-animation-iteration-count: 3;
  -moz-animation-iteration-count: 3;
  -o-animation-iteration-count: 3;


}

#map {
    height: 400px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
}

@keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}

@-moz-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}

@-o-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}


#list-container {
  width: 600px;
  margin: 100px auto;
  background-color: #f7f7f7;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.1);
  /* offset-x | offset-y | blur-radius | color */
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);*/
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 600px;
}

li {
  background-color: white;
  height: 40px;
  line-height: 40px;
  color: #666;
  width: 600px;
}

li:hover {
  opacity: .8;
  cursor: pointer;
}

li:hover span {
  width: 40px;
  opacity: 1;
}

li:nth-child(2n) {
  background-color: #f7f7f7;
}

.list-span {
  background: darkred;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.picker-div {
  background-color: #1f1a14;
  border: 5px solid #1f1a14;
  border-radius: 5px;
  padding: 20px;
  width: 750px;
  height: 170px;
  margin: auto;
}

.place-picked-info {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.place-picked-two {
  font-size: 20px;
  color: #c8d7e7;
  text-align: center;
}

.picker-btn {
  text-align: center;
  margin: 10px;
}
.center {
  text-align: center;
}

@media screen and (max-device-width: 480px){
  .parallax1, .parallax2 {
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
    height: auto;
  }
}
