body,
html {
  background: #212121;
  width: 100%;
  height: 100%;
  letter-spacing: 1.2px;
}

h1 {
  font-family: 'Monoton', cursive;
  color: #fff;
  text-align: center;
  font-size: 50px;
  padding-top: 100px;
}

h2, h3, p {
  font-family: 'Work Sans', sans-serif;
}

h3 {
  text-align: center;
  color: #c8d7e7;
}

h3 img {
    max-height: 50px;
}

.parallax1 {
  opacity: .85;
  background: url(../img/bus_front.jpg)no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  margin-top: -35px;
}

.parallax2 {
  opacity: .85;
  background: url(../img/back.jpg)no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
}

.content {
  width: 100%;
  height: auto;
  overflow: hidden;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}

.content h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  color: #000;
  color: #c8d7e7;
  text-align: Center;
}

.content p {
  margin-top: 10px;
}

#arrow {
  max-width: 10em;
  position:absolute;
  bottom:0px;
}

#map {
    height: 400px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
}

@media only screen 
  and (max-device-width: 812px) {
  html {
    background: black;
  }

}
