body,
html {
  background: #1f1a14;
  width: 100%;
  height: 100%;
  letter-spacing: 1.2px;
}

h1 {
  font-family: 'Monoton', cursive;
  color: #fff;
  text-align: center;
  font-size: 50px;
  padding-top: 100px;
}

h2, h3, p {
  font-family: 'Work Sans', sans-serif;
}

#mainH3 {
  text-align: center;
  color: #c8d7e7;
}

.about {
  font-size: 14px;
  color: #fff;
  border: solid 2px #c8d7e7;
  width: 300px;
  padding: 10px;
  position: absolute;
  bottom: 177px;
  left: 30px;
}

ul {
  padding: 25px;
  text-align: center;
  list-style: none;
}

li {
  color: #fff;
  font-size: 18px;
}

h3 img {
    max-height: 50px;
}

.parallax1 {
  opacity: .85;
  background: url(../img/bus_front.jpg)no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  margin-top: -35px;
}

.parallax2 {
  opacity: .85;
  background: url(../img/back.jpg)no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
}

.content {
  width: 100%;
  height: auto;
  overflow: hidden;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}

.content h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  /*color: #000;*/
  color: #c8d7e7;
  text-align: Center;
}

.content p {
  margin-top: 10px;
}

#arrow {
  max-width: 10em;
  position:absolute;
  bottom:0px;
  animation-iteration-count: 3;
  -webkit-animation: bounce 3s ease-in-out;
  -webkit-animation-iteration-count: 3;
  -moz-animation-iteration-count: 3;
  -o-animation-iteration-count: 3;


}

#map {
    height: 400px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
}

@keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}

@-moz-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}

@-o-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}



/*@media (max-width: 499px) {
  .parallax1 {
    height: auto;
  }
  .parallax1, .parallax2, html {
    background: black;
  }

}*/
